{% if ansible_os_family == "RedHat" and ansible_distribution_major_version|int == 6 %}
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
character_set_server=utf8
innodb_flush_log_at_trx_commit=1
innodb_buffer_pool_size={{ memory|int }}M
innodb_log_buffer_size=8M
innodb_file_per_table=1
sort_buffer_size=1M
join_buffer_size=1M
read_buffer_size=1M
read_rnd_buffer_size=512K
thread_stack=512K
max_connections=300
lower_case_table_names = 1

# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

#
# include all files from the config directory
#
[client]
default-character-set=utf8
{% endif %}
{% if ansible_os_family == "RedHat" and ansible_distribution_major_version|int == 7 %}
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
character_set_server=utf8
innodb_flush_log_at_trx_commit=1
innodb_buffer_pool_size={{ memory|int }}M
innodb_log_files_in_group=3
innodb_log_file_size=256M
innodb_log_buffer_size=8M
innodb_file_per_table=1
sort_buffer_size=1M
join_buffer_size=1M
read_buffer_size=1M
read_rnd_buffer_size=512K
thread_stack=512K
max_connections=300
lower_case_table_names = 1

# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
#
# include all files from the config directory
#
[client]
default-character-set=utf8
!includedir /etc/my.cnf.d
{% endif %}
