<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = '{{ database_ip_address }}';
$DB['PORT']     = '0';
$DB['DATABASE'] = '{{ zabbix_DBName }}';
$DB['USER']     = '{{ zabbix_DBUser }}';
$DB['PASSWORD'] = '{{ zabbix_DBPassword }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = 'localhost';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = '';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>
